@import "../theme/theme";

.stat-block {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
  li {
    align-content: center;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    margin: 0 0 40px;
    padding: 20px;
    text-align: center;
    width: 250px;
  }
  li img {
    margin: 0 auto 15px;
    max-width: 150px;
  }
  li a {
    color: black !important;
    display: block;
    line-height: 1.25;
  }
}
