.Experience {
  height: 100vh;
  padding: 20px;
  background-color: #eee0ce;
  color: #ad9e8b;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.Experience-select-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
}

.Experience-select-region {
  display: flex;
  margin: 10px;
  max-width: 30%;
  background-color: #fa5552;
  border-radius: 2%;
  color: #ffffff;
}

.Experience-select-region .Experience-link {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
}
